.clients-container {
    display:                            flex;
    flex-wrap:                          wrap;
    padding-top:                        4%;
    padding-left:                       3%;
    padding-right:                      3%;
    height:                             100%;
    width:                              100%;
    z-index:                            0;
    color:                            rgb(255, 255, 255);
    background-color:                 rgba(14, 14, 14, 0.9);
    overflow:                           scroll;
}

.clients-container::-webkit-scrollbar {
    display:                            none;
}

.div-client {
    display:                            inline-block;
    position:                           relative;
    height:                             35%;
    width:                              20%;
    margin:                             2% 0.5%;
    overflow:                           hidden;
    z-index:                            50;
    color:                            rgb(0, 0, 0);
    background-color:                 rgb(244, 223, 223);
    border:                             1% solid #000;
}

.div-client-concealer {
    display:                            flex;
    position:                           absolute;
    top:                                0;
    left:                               0;
    width:                              100%;
    height:                             100%;
    z-index:                            300;
    justify-content:                    center;
    align-items:                        center;
    border:                             5px solid rgb(247, 234, 234);
    background-color:                 rgb(255, 255, 255);
}

.div-client-concealer:hover {
    /* top:                                -100%; */
    background-color:                 rgb(202, 181, 181);
    transition-duration:                0.5s;
}

.div-client-concealer:active {
    top:                                -100%;
    transition-duration:                1s;
}

.div-concealer-image {
    display:                            flex;
    position:                           absolute;
    top:                                20%;
    justify-content:                    center;
}

.div-concealer-score {
    display:                            flex;
    position:                           absolute;
    top:                                60%;
    justify-content:                    center;
}

.div-client-h3 {
    display:                            flex;
    position:                           relative;
    top:                                20%;
    justify-content:                    center;
    font-family:                        'Lucida Sans';
    z-index:                            100;
}

.div-client-p-description {
    display:                            flex;
    position:                           relative;
    top:                                15%;
    justify-content:                    center;
    font-weight:                        bold;
    z-index:                            100;
}

@media screen and (max-device-width: 991px) {
    .clients-container  {
        padding-top:                        20%;
    }

    .div-client {
        height:                             20%;
        width:                              40%;
    }
}